<div class="row">
    <h1>Formacion Academica</h1>
    <div class="col-lg-1"></div>
        <div class="col-lg-11">
            <ul>
                <li>
                    <h1>Escuela 1</h1> - <h3>(years)</h3>
                </li>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem exercitationem atque, officiis vero omnis aliquid at explicabo pariatur quaerat? Hic dolore, odit velit commodi deserunt eligendi dolores possimus maiores praesentium!
                </p>
    
            </ul>
    
            <ul>
                <li>
                    <h1>Escuela 2</h1> - <h3>(years)</h3>
                </li>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem exercitationem atque, officiis vero omnis aliquid at explicabo pariatur quaerat? Hic dolore, odit velit commodi deserunt eligendi dolores possimus maiores praesentium!
                </p>
    
            </ul>
    
            <ul>
                <li>
                    <h1>Escuela 3</h1> - <h3>(years)</h3>
                </li>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem exercitationem atque, officiis vero omnis aliquid at explicabo pariatur quaerat? Hic dolore, odit velit commodi deserunt eligendi dolores possimus maiores praesentium!
                </p>
    
            </ul>
        </div>
    </div>